/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
 --Tertiary:#34ADF4;
 --primary-color:#16375A;
 --secondary-color:#2373A2;
 --text-body:#4E4B66;
 /* Indication Color */
 --indication-blue:#1672EC;
 --indication-blue-hover:#0F56B3;
 --indication-green:#2AB930;
 --indication-green-hover:#1F8B24;
 --indication-yellow:#F0D042;
 --indication-yellow-hover:#D4B011;
 --indication-red:#F5413D;
 --indication-red-hover:#DA100B;

 /* Gray Scale Color */
 --gray-scale-active-title:#1E1F21;
 --gray-scale-body:#374151;
 --gray-scale-divider:#C5C7D0;
 --gray-scale-uigray:#E6E9EF;
 --gray-scale-disable:rgba(230, 233, 239, 0.5);
 --gray-scale-white:#FFFFFF;

/* Primary Colors Tone */
--primary-color-00:#FFFFFF;
--primary-color-10:#D6DCE2;
--primary-color-20:#B0BBC7;
--primary-color-30:#899AAC;
--primary-color-40:#637990;
--primary-color-50:#3C5875;
--primary-color-60:#16375A;
--primary-color-70:#132F4D;
--primary-color-80:#0F273F;
--primary-color-90:#0B1B2D;
--primary-color-100:#07121E;
--primary-color-110:#04090F;
--primary-color-120:#000000;

/* Secondary Colors Tone */
--secondary-color-00:#FFFFFF;
--secondary-color-10:#D9E7EF;
--secondary-color-20:#B4CFDF;
--secondary-color-30:#90B8D0;
--secondary-color-40:#6CA1C1;
--secondary-color-50:#478AB1;
--secondary-color-60:#2373A2;
--secondary-color-70:#1D6087;
--secondary-color-80:#174D6D;
--secondary-color-90:#123A52;
--secondary-color-100:#0C2737;
--secondary-color-110:#06141C;
--secondary-color-120:#000000;
 
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --h1-font-size: 2.25rem;
  --h1-font-size-bold: 2.875rem;
  --h2-font-size: 2rem;
  --h2-font-size-bold: 2.375rem;
  --h3-font-size: 1.75rem;
  --h3-font-size-bold: 1.875rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --normal-font-size: 0.875rem;
  --small-font-size: 0.75rem;
  --smaller-font-size:0.625rem;
  --large-font-size: 1rem;

  /*========== Font weight ==========*/
  --font-normal:400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

}


/* Font size for large devices */
/* @media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
} */

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-body);
}
.css-dev-only-do-not-override-1me4733{
  font-family: var(--body-font) !important;
}
.ant-table{
  font-family: var(--body-font) !important;
}

.h3-medium{
font-style: normal;
font-weight:var(--font-medium);
font-size: var(--h3-font-size-bold);
line-height: 42px;
}

.ant-select-selector{
  /* border-color: var(--secondary-color) !important; */
  color: #313144;
  height: 2.5rem !important;
  align-items: center;
  font-family: var(--body-font);
}
.downarrow-select{
  color: var(--primary-color);
  font-size: 1rem;
}
hr{
  background-color: #C4C4C4;
  height: 1px;
  border: 1px solid #000000;
  margin-bottom: var(--mb-0-5);
  opacity: 0.1;
}

.button-primary{
border: none;
font-size: var(--large-font-size);
font-weight: var(--font-normal);
line-height: 24px;
color: var(--primary-color-00);
background: var(--primary-color);
border-radius: 8px;
font-family: var(--body-font);
letter-spacing: 0.5px;
padding: 0.75rem 1.5rem;
cursor: pointer;
}
.mb-bottom-3{
  margin-bottom: var(--mb-3);
}
/* h1,
h2,
h3,
h4,
h5 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
} */










#searchInput {
  background-color: var(--secondary-color-10);
  border-radius: 8px;
  height: 2rem;
}
@media only screen and (min-width: 601px) {
  #searchInput {
    width: 450px;

  }
}
.ant-input-affix-wrapper{
  border: none !important;
}
#searchSubscriptionApi {
  background-color: aliceblue;
}

/* .ant-select .ant-select-arrow {
  top: 36% !important;
} */


/* Header Title */
.header-title {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--mb-0-5);
}

.title-item {
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  color: #253d55 !important;
}

.title-item-api {
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  color: #253d55 !important;
  opacity: 0.3;
}
.main-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: #273F57;
}

/* Subscription  */
.subscription-title {
  background: #F4FAFD;
  width: fit-content;
  padding: 0.5rem;
  font-size: var(--large-font-size);
  font-weight: var(--font-normal);
  color: #253D55;
  border-radius: 4px;
  margin-bottom: var(--mb-1);
}

.subscription-info {
  font-size: var(--large-font-size);
  font-weight: var(--font-normal);
  color: var(--primary-color);
  margin-bottom: var(--mb-1);
  line-height: 24px;
}

.subscription-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10rem;
  margin: 3rem auto;
}
.subscription-smalltext{
font-weight: var(--font-semi-bold);
font-size: var(--small-font-size);
color: var(--primary-color);
}
.sub-table-icon{
  color: var(--secondary-color);
}
.select-main {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.select-main .ant-select-arrow {
  color: #506983;
}

.select-main .ant-select-selection-item {
  color: #506983;
  font-weight: 500;
}

.subscribe-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  background: #16375a;
  color: aliceblue;
  border-radius: 7px;
}

.subscription-table .ant-table-row {
  background-color: aliceblue !important;
}
.subscription-table .ant-table-container table>thead>tr:first-child>*:last-child {
  width: 32rem;
}
@media only screen and (max-width: 815px) {
  .subscription-table {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 600px) {
  .subscription-select {
    gap: 1rem;
  }
}

/* TryOut */
.tryout-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.radio-btn {
  height: 1rem;
  accent-color: #0b1b2d;
  width: 1rem;
}

.radio-div {
  display: flex;
  align-items: center;
}

.radio-div label {
  margin-right: 1rem;
}

.GetKey-btn {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  background: #d9e7ef;
  color: #374151;
  font-weight: 600;
  cursor: pointer;
  margin-top: -13px;
}

.access-tokenhint {
  margin-top: 5px;
  font-size: smaller;
  font-weight: 600;
  color: #899aac;
}

.tryout-right-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.tryout-right-header input {
  padding: 0.5rem !important;
}

.tryout-select .ant-select-selector {
  font-size: larger;
  align-items: center;
  height: 3rem !important;
}


.default-main {
  background: #f2f3f6;
  padding: 1rem;
  margin-top: 2rem;
  max-width: 50rem;
  border-radius: 10px;
  color: #16375a;
}

.bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  margin: 0.5rem 0;
}

.get {
  background: #b4cfdf;
}

.get button {
  background: #1672ec;
  color: white;
}

.put {
  background: #f2ecd2;
}

.put button {
  background: #d4b011;
  color: white;
}

.post {
  background: #e5fcda;
}

.post button {
  background: #2ab930;
  color: white;
}

.delete {
  background: #eec6c7;
}

.delete button {
  background: #da100b;
  color: white;
}

.patch {
  background: #e5fcda;
}

.patch button {
  background: #2ab930;
  color: white;
}

.bars button {
  padding: 0.4rem 2rem;
  font-size: large;
  border-radius: 6px;
  margin-right: 1rem;
  border: none;
  width: 7rem;
}

.bars span {
  font-size: large;
  font-weight: 500;
}

/* Comments */
.noComment-main {
  padding: 0.5rem;
  background: #f2f3f6;
  max-width: 50rem;
  border-radius: 6px;
  margin: 2rem 0;
  font-size: small;
  font-weight: 600;
  color: #16375a;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-main {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #2373a2;
  font-weight: 700;
  margin-top: 2rem;
}

.add-icon {
  color: #2373a2;
  font-size: 1.2rem;
}

.noComment-main div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* SDKS */
.card-sdks {
  background: aliceblue;
  width: 32%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 10px;
}

.sdks-content {
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0 0 10px 10px;
}

.imgsection {
  padding: 1rem;
  text-align: center;
  height: 250px;
}

.Skds {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.download-sdks {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}

/* Application */

/* My Application */
.myApplication-header p {
  color: #637990;
  font-weight: 500;
  max-width: 65vw;
}

.myapplication-table .ant-table-thead>tr>th {
  background-color: #e6e9ef !important;
  color: black !important;
}

.myapplication-table .ant-table-row {
  background-color: #e6e9ef !important;
  /* color: black !important; */
}

.myapplication-searcheader {
  padding: 0.5rem 1rem;
  background: rgb(12, 53, 92);
  border-radius: 8px 8px 0 0;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.myapplication-searcheader button {
  background: #0f273f;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.myapplication-table {
  margin-top: -5px;
}

.edit-delete-application {
  display: flex;
  gap: 1rem;
  width: fit-content;
  font-size: 1.2rem;
}

.myapplication-table .ant-table-container table>thead>tr:first-child>*:last-child {
  width: 1rem;
}

.myapplication-edit-icon {
  cursor: pointer;
}

.myapplication-delete-icon {
  cursor: pointer;
}

/*Create and Edit Application */
.editApplication-header p {
  color: #637990;
  font-weight: 500;
  line-height: 1;
}

.applicationName-input {
  padding: 0.7rem 1rem;
  margin: 0.3rem 0;
  border: 1px solid;
}

.editContent-main {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.application-name-label {
  font-size: medium;
  font-weight: 400;
}

.selecttoken-editapplication {
  width: 100%;
}

.selecttoken-editapplication .ant-select-selector {
  align-items: center;
  height: 3rem !important;
  border: 1px solid !important;
}

.quota-hint {
  font-weight: 600;
  color: #899aac;
  font-size: small;
}

@media (max-width: 600px) {
  .editContent-main {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 860px) {
  .editContent-main {
    width: 50vw;
  }
}

.aplication-description {
  max-width: 500px !important;
}

.description-textarea {
  padding-right: 1.2rem;
}

.save-btn {
  padding: 0.5rem 1rem;
  border: none;
  background: #16375a;
  border-radius: 7px;
  color: white;
  font-size: large;
  cursor: pointer;
}

.cancel-btn {
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  border-radius: 7px;
  color: #16375a;
  font-size: large;
  cursor: pointer;
}

.cancel-btn:hover {
  background: aliceblue;
}

/* Delete Modal */
.ant-modal {
  max-width: 450px;
  width: auto !important;
}

.ant-modal h1 {
  font-size: 2rem;
}

.DeleteModal {
  margin-top: 200px;
}

@media (max-width: 900px) {
  .DeleteModal {
    margin-top: 50px;
  }
}

.btn-yes {
  border: none;
  background: #16375a;
  color: aliceblue;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: medium;
}

.btn-no {
  padding: 0.8rem 1.5rem;
  border: 1px solid;
  border-radius: 5px;
  background: aliceblue;
  cursor: pointer;
  font-size: medium;
}

.ant-modal-footer {
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
}

.DeleteModal p {
  font-weight: 500;
  font-size: medium;
  margin-top: -1rem;
}

.delete-content {
  margin-bottom: 3rem;
}

.ant-modal-content {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Application Header */
.header-title-application {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-total {
  font-size: small;
  margin: 0;
  color: #8a9bac;
  font-weight: 500;
  margin-top: 1rem;
}

.applicationheader-title {
  color: rgb(22, 55, 90);
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}

.headerapplication-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.headerapplication-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Application Overview */
.overviewContent {
  background: #f2f3f6;
  padding: 1rem;
  border-radius: 8px;
}

.content-item {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.icon-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-overview {
  font-size: 1.5rem;
  color: #3c5875;
}

.icon-item p {
  font-size: 1.2rem;
  margin: 0;
  color: #3c5875;
  font-weight: 600;
}

.textcontent {
  font-size: small;
  color: #3c5875;
}

@media (min-width: 700px) {
  .icon-item {
    min-width: 350px;
  }
}

@media (max-width: 699px) {
  .content-item {
    justify-content: space-between;
  }
}

@media (max-width: 430px) {
  .content-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

/* Production Keys */
.generate-btns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.generate-btns button {
  padding: 1rem;
  border: none;
  background: aliceblue;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  color:#16375a;
}

.production-generate-btn {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  border: none;
  background: #16375a;
  color: white;
  cursor: pointer;
  border-radius: 0.6rem;
  font-weight: 500;
}

.key-checkboxs .ant-checkbox-checked .ant-checkbox-inner{
  background-color: #16375a;
  outline: 1px solid #16375a;
  outline-offset: 1px;
  border: none;
}
.key-checkboxs .ant-checkbox-checked .ant-checkbox-inner:hover{
  background-color: #0d253f !important;
  border-radius: 2px;
}
.key-checkboxs .ant-checkbox .ant-checkbox-inner{
  border-radius: 2px;
  
}
.key-checkboxs .ant-checkbox-checked:after{
border: none;

}

.item-key{
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}


.key-checkboxs{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.item-key-checkbox{
  display: flex;
  align-items:first baseline;
  flex-wrap: wrap;
}


.productionkeys-input{
  padding: 0.7rem;
  margin-top: 2px;
}
.productionkeys-inputmain{
  max-width: 50rem;
}

.key-label{
  font-weight: 500;
  color: #16375a;
  font-size: larger;
}

.productionkeys-inputmain .key-hint{
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #8a9bac;
}
.grant-accesshint{
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #8a9bac;
}
.test{
  margin-right: 8.7rem;
  font-weight: 500;
  color:#0d253f;
}

@media (max-width: 600px) {
  .key-checkboxs{
    flex-direction: column;
  }
}
.key-checkboxs .ant-checkbox-wrapper+.ant-checkbox-wrapper{
  margin-inline-start: 0;
}
.itemkeyUrl{
  font-weight: 500;
  color:#a7b3c1;
}
h3{
  color: #16375a !important;
}
.productionkey-title p{
  margin-top: -10px;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #8a9bac;
}
.customerandsecretkey{
  display: flex;
  gap: 1rem;
  max-width: 50rem;
  margin-bottom: 2rem;
}
.customerandsecretkey .ant-input-affix-wrapper >input.ant-input{
padding: 0.5rem;
}
.customerandsecretkey .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover{
border-color:#014092 !important;
}
.customerandsecretkey .ant-input-affix-wrapper >input.ant-input{
  color: #8a9bac;
}
.key-input{
  margin-top: 5px;
  width: 100%;
}
@media (max-width: 600px) {
  .customerandsecretkey{
flex-direction: column;
  }
}

/* Production Api Keys */
.keys-div{
  background: #f2f3f6;
    padding: 0.5rem;
    border-radius: 6px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.keys-div p{
margin: 0;
}
.keys-div label{
  font-weight: 600;
  color: #6e7191;
}
.key-manage{
  margin-bottom: 1.3rem;
}
.restrictionDescription{
  background: #f2f3f6;
  padding: 0.5rem;
  border-radius: 6px;
  width: 50%;
}
.restrictionDescription p{
margin: 0;
}
.main-apikey{
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
.exampleip-div{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.IpaddressExample p{
  font-size: small;
  font-weight: 500;
}
.IpaddressExample span{
  font-size: small;
  color: #75889d;
}
.IpaddressExample{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.4rem;
}
.exampleip-div-2{
  margin-bottom: 0.4rem;
}
@media (max-width: 1230px) {
  .main-apikey{
flex-wrap: wrap;
  }
  .restrictionDescription{
    width: 70%;
  }
  .keys-div{
    width: 70%;
  }
  .apikey-input{
    width: 70% !important;
  }
}
@media (min-width: 1231px) {
.refer-input{
margin-top: -2.1rem !important;
}
}
@media (max-width: 800px) {
  .restrictionDescription{
    width: 100%;
  }
  .keys-div{
    width: 100%;
  }
  .apikey-input{
    width: 100% !important;
  }
}
@media (max-width: 600px) {
  .exampleip-div{
    flex-direction: column;
    align-items: flex-start;
  }
}
.apikeyGenerate{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.apikeyGenerate-btn{
  padding: 0.5rem 1rem;
  border: none;
  background: #16375a;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  font-size: large;
}
.apikey-input{
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background: #f2f3f6;
  padding: 0.2rem;
  border-radius: 6px;
  gap: 1rem;
}
.apikey-addinput{
  padding: 0.7rem;
  background: transparent;
}
.apikey-icon{
  font-size: 2rem;
    padding-right: 1rem;
}

/* subscribeApismodal */
.subscripeapi-status{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.subscribeApis-table .ant-table-thead>tr>th {
  background-color: #f3f4f7 !important;
  color: black !important;
}

.subscribeApis-table .ant-table-row {
  background-color: #f3f4f7 !important;
  /* color: black !important; */
}
.subscribetable-main{
  background-color: #f3f4f7;
  width: fit-content;
  border-radius: 1rem;
}
.subscripeApi-Modal .ant-modal-content{
  width: fit-content !important;
}
.subscripeApi-Modal .ant-table-cell{
 font-size: small;
}
.subscripeApi-Modal .ant-table-tbody .ant-table-cell{
 font-size: small;
 color: #96a5b5;
 font-weight: 400;
 min-width: 10rem;
}
.subscripeApi-Modal .ant-pagination .ant-pagination-disabled .ant-pagination-item-link{
color: white !important;
background: #dbdce0 !important;
font-size: 1rem;
}
/* .subscripeApi-Modal .ant-pagination .ant-pagination-disabled{
background: #dbdce0 !important;
} */
.subscripeApi-Modal .ant-pagination .ant-pagination-item-link{
background: #FFF !important;
font-size: 1rem;
color: #96a5b5 !important;
}
.subscripeApi-Modal .ant-pagination{
padding-right: 1rem;
}
.subscripeApi-Modal .ant-modal-close{
border-radius: 50% !important;
background: black !important;
color: white !important;
}
.subscripeApi-Modal .ant-modal-close .ant-modal-close-x{
font-size: 13px;
}
.subscripeApi-Modal .ant-pagination .ant-pagination-item {
background: white !important;
font-weight: 500 !important;
color: #96a5b5 !important;
border: none !important;
}
.subscripeApi-Modal .ant-pagination .ant-pagination-item:hover {
background: aliceblue!important;
}
.subscripeApi-Modal .ant-pagination .ant-pagination-item a{
font-weight: 500 !important;
color: #96a5b5 !important;
}
.subscripeApi-Modal .ant-pagination .ant-pagination-item-active {
background: #16375a !important;
font-weight: 500 !important;
color: #96a5b5 !important;
border: none !important;
}
.subscripeApi-Modal .ant-pagination .ant-pagination-item-active:hover{
  background: #16375a !important;
}
.subscripeApi-Modal .ant-pagination .ant-pagination-item-active a {
font-weight: 500 !important;
color: #ffffff !important;
}

.subscribeApis-btn{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  color: white;
  background: #16375a;
}
.subscribeApi-select .ant-select-selector {
  font-size: 1rem !important;
  height: 2.5rem !important;
  align-items: center !important;
  width: 9rem !important;
  border: 1px solid black !important;
}
.subscribeapi-title{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: -1.2rem;
}
.link-subscribe{
  color: #1672ec;
  cursor: pointer;
}
.subscriptionapi-table .ant-table-tbody{
  background: #e6e9ef;
}
.subscriptionapi-table{
  background: #e6e9ef;
  border-radius: 0.5rem;
}
.ant-table-tbody >tr >td{
  border-bottom: none !important;
}
.ant-table-wrapper table{
  border-radius: 8px !important;
}
.tset-data{
  border-radius: 0.5rem;
  overflow: hidden;
}

.subscriptionapi-table .ant-table-container table>thead>tr:first-child>*:last-child {
  width: 1rem;
}
.subscriptionModal-select{
  width: 100% !important;
}
.subscriptionModal-select .ant-select-selector{
  font-size: larger;
  align-items: center;
  height: 3rem !important;
}
.updateSubscription-Modal{
  margin-top: 200px;
}